name: Add New ERDDAP Datasets Checks
on:
  schedule:
    - cron: '* */12 * * *'
jobs:
  release:
    name: Add New ERDDAP Datasets Checks
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GH_PAT || github.token }}
      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' # install the python version needed

      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install pandas

      - name: Run ERDDAP checks update
        run: python generate-sites-yaml-block.yaml '${secrets.ERDDAP_SERVERS}'

      - name: push changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Add ERDDAP Checks
          branch: master
          file_pattern: .upptimerc.yml
